{% extends 'base.html' %}
{% block title %}
{{ super() }}
Index
{% endblock%}
{% block content %}
<div class="container">
    <div class="well text-center">Casos</div>
    {% if caso != []: %}
    <div class="row">
        {% for item in caso %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <form action="/newcs" method="post">
                    <img style="width: 100%; height:100px ;" class="card-img-top" src="{{item.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{item.nombre}}</h5>
                        <p class="card-text">{{item.detalle}}</p>
                        <input class="diui" type="text" id="txtUserId" name="txtUserId" value="{{current_user.iduser}}">
                        <input class="diui" type="text" id="txtCasoId" name="txtCasoId" value="{{item.id}}">
                        {% if current_user.is_authenticated %}
                        <button type="submit" class="btn btn-primary m-4">Solisitar</button>
                        {% else %}
                        <a href="{{ url_for('loginin.onGetLogin') }}"><button type="button" class="btn btn-danger m-4">Login</button></a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <h2 class="text-center" style="padding: 30px; font-size: 10vw ;">NO EXISTE CASOS</h2>
    </div>
    {% endif %}
</div>
{% endblock %}