{% extends 'base.html' %}
{% block title %}
{{ super() }}
Index
{% endblock%}
{% block content %}
<div class="well">
  <span style="font-weight: bold ;">NOTA:</span>
  <p>La persona puede elegir un proceso en la cual tendra un costo y despues seguir otro. los avances de cada proceso se
    visualizara en una pestaña de la misma pagina gracias por su atención.</p>
</div>
<div class="container">
  <div>
    <h2 class="text-center well">Familia</h2>
    <div class="row">
      <div class="col-md-3">
        <h2 class="text-center">Alimentos</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653919095/lawyerstar/citas/juicioalim_uiukto.jpg"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Alimentos con presuncio de paternidad</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653919095/lawyerstar/citas/juicioalim_uiukto.jpg"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Insidencias(Rebjas y aumentos)</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653919095/lawyerstar/citas/juicioalim_uiukto.jpg"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
      <div class="col-md-3">
        <h2 class="text-center">extincion</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653919095/lawyerstar/citas/juicioalim_uiukto.jpg"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h2 class="text-center">curadurias segun las nuxias</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653919095/lawyerstar/citas/juicioalim_uiukto.jpg"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
      <div class="col-md-3">
        <h2>Permiso de salidas de menores</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653919095/lawyerstar/citas/juicioalim_uiukto.jpg"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-center well">Civil</h2>
    <div class="row">
      <div class="col-md-3">
        <h2 class="text-center">cobro de facturas</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653950473/lawyerstar/citas/codigocivil_psmqjv.jpg"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-center well">Laboral</h2>
    <div class="row">
      <div class="col-md-3">
        <h2>Denuncias(Inspectoria)</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653951568/lawyerstar/citas/codigotrabajo_ptgtbd.png"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-center well">Actos Notariales</h2>
    <div class="row">
      <div class="col-md-3">
        <h2 class="text-center">Transferencia de dominios(Compra venta donacion)</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653952004/lawyerstar/citas/actosnotariales_jfg1v6.jpg"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Poderes Generales y especial</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653952004/lawyerstar/citas/actosnotariales_jfg1v6.jpg"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
      <div class="col-md-3">
        <h2>Poseciones Efectivas</h2>
        <figure class="d-flex justify-content-center">
          <img class="imgcitas"
            src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653952004/lawyerstar/citas/actosnotariales_jfg1v6.jpg"
            alt="">
        </figure>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-4">Solisitar</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}