{% extends 'base.html' %}
{% block title %}
{{ super() }}
Index
{% endblock%}
{% block content %}
<div class="container mt-1">
    <div class="row">
        <div class="col-6 bsuperior1"></div>
        <div class="col-6 bsuperior2">
            <img class="imgbs1"
                src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1662915754/lawyerstar/actosnotariales_elhjc6.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-3 lisquierdo"></div>
        <div  class="col-6">
            <h2 style="font-size: 3vw;" class="text-center">Quienes somos</h2>
            <p style="font-size: 1.3vw;" class="d-flex justify-content-center align-items-center">Somos un grupo de jóvenes profesionales altamente calificados, con las habilidades, la especialización y
                la experiencia para ejecutar cualquier asesoría o proceso judicial con responsabilidad, puntualidad,
                sinceridad y sobre todo en beneficio de nuestros clientes.</p>
        </div>
        <div class="col-3 lderecho"></div>
    </div>
    <div class="row">
        <div class="col-6 binferior1">
            <img class="imgbs1" src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653055740/lawyerstar/imgjuez_hrke9l.jpg" alt="">
        </div>
        <div class="col-6 binferior2">
        </div>
    </div>
</div>
{% endblock %}