{% extends 'base.html' %}
{% block title %}
{{ super() }}
Index
{% endblock%}
{% block content %}
<div class="container">
    <div class="well text-center">Formulario de Categoria</div>
    <div class="row">
        <div class="col-md-10 p-4">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <strong>Buscar Por: {{ tag }}</strong>
                    </div>
                    <div class="col-4">
                        <form action="" method="post" autocomplete="off">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" name="tag" id="tag"
                                        placeholder="Cedula..." />
                                </div>
                                <div class="col-6" align="left">
                                    <input type="submit" value="Search" class="form-control btn btn-primary " name="">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if users != []: %}
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Telefono</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in users.items %}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.cedula}}</td>
                        <td>{{item.nombres}}</td>
                        <td>{{item.apellidos}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.cellphone}}</td>
                        <td>{{item.phone}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if users.has_prev %}
                    <li class="page-item"> <a class="page-link"
                            href="{{ url_for('userall.controllerUsersList', page=users.prev_num )}}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item"> <a class="page link btn disabled" href="#">Previous</a></li>
                    {% endif %}
                    {% for page in users.iter_pages(left_edge=3, right_edge=3) %}
                    {% if page %}

                    {% if page==users.page %}
                    <li class="page-item active"><a class="page-link"
                            href="{{ url_for('userall.controllerUsersList', page=page) }}">{{ page }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link"
                            href="{{ url_for('userall.controllerUsersList', page=page) }}">{{ page }}</a></li>
                    {% endif %}

                    {% else %}
                    <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if users.has_next %}
                    <li class="page-item"> <a class="page-link"
                            href="{{ url_for('userall.controllerUsersList', page=users.next_num )}}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item"> <a class="page link btn disabled" href="#">Previous</a></li>
                    {% endif %}

                </ul>
            </nav>
            {% else %}
            <section class="">
                <h2 class="text-center" style="padding: 10px; font-size: 5vw;">No existe datos</h2>
            </section>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}