<footer class="p-4">
    <div class="row">
        <div class="col-md-3">
            <h2>Mision</h2>
            <p>la mision es...</p>
            <h2>Vision</h2>
            <p>La vision es...</p>
        </div>
        <div class="col-md-3">
            <h2>Quienes Somos</h2>
            <p>la experiencia para ejecutar cualquier asesoría o proceso judicial con responsabilidad, puntualidad,
                sinceridad y sobre todo en beneficio de nuestros clientes.</p>
        </div>
        <div class="col-md-3">
            <h2>Menu de Navegacion</h2>
            <ul>
                <li><a href="/start"><span class="icon">Inicio</span></a></li>
                <li><a href="/caso"><span class="icon">Casos</span></a></li>
                <li><a href="/cita"><span class="icon">Citas</span></a></li>
                <li><a href="/avances"><span class="icon">avances </span></a></li>
                <li><a href="/qsomos"><span class="icon">Quienes Somos</span></a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Contacto</h2>
            <p>Lunes a Viernes: 08:00 a 16:00</p>
            <p>Sabado: 08:00 a 14:00</p>
            <p><span style="font-weight: bold ; font-size: 1vw;">cel:</span> 0983490088</p>
            <p><span style="font-weight: bold ; font-size: 1vw;">Email</span>lucy20.1989@gmail.com </p>
        </div>
    </div>
    <div class="row">
        <p><span style="font-weight: bold ; font-size: 1vw;">Tnlgo: </span>Edgar Fabian Estrella G. <span style="font-weight: bold ; font-size: 1vw;">cel: </span> 0983856136 </p>
        
    </div>
</footer>