<header>
    <h1 style="font-size:8vw; color: #565656;" class="text-center p-4 fz-4 text-white mt-4">Abogada de libre ejercicio</h1>
    <h2 style="font-size:5vw; color: #565656;" class="text-center text-white">Luz Estrella</h2>
    <figure>
        <a href="https://api.whatsapp.com/send?phone=983856136" target="_blank"><img class="rswfloat"
                src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653138814/redesociales/ws_co1s6v.png"
                alt=""></a>
    </figure>
</header>