{% extends 'base.html' %}
{% block title %}
{{ super() }}
Index
{% endblock%}
{% block content %}
<div class="container">
    <h2 class="well text-center">Contenido</h2>
    <div class="row">
        <div class="col-md-6">
            <figure>
                <img class="d-flex justify-content-center" style="width: 30vw; padding: 20px;"
                    src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653353748/lawyerstar/juez_skjcqp.jpg"
                    alt="">
            </figure>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Juez</h2>
            <p>El juez (también normalizado el femenino jueza1​) es la persona que resuelve una controversia o que
                decide el destino de un imputado, tomando en cuenta las evidencias o pruebas presentadas en un juicio,
                administrando justicia. Conviene distinguir al juez del tribunal, el cual no es jurídicamente un ser
                humano, sino un órgano judicial compuesto por personas físicas, que pueden rotar sin vulnerar esta
                garantía.</p>
            <p>Habitualmente son considerados empleados o funcionarios públicos, aunque ello dependerá del país en
                concreto, son remunerados por el Estado (sin perjuicio de la figura de los jueces árbitros y los jueces
                de paz), e integran el denominado Poder Judicial. En general, se caracterizan por su autonomía,
                independencia e inamovilidad, sin que puedan ser destituidos de sus cargos salvo por las causas
                establecidas constitucional o legalmente. Asimismo, son responsables de sus actos ministeriales, civil y
                penalmente.</p>
            <p>Si bien disfrutan de la independencia en su actuar, sus resoluciones suelen ser revisables por sus
                superiores, mediante los llamados recursos judiciales, pudiendo ser estas confirmadas, modificadas o
                revocadas.</p>
            <p>La concepción de juez, encuentra justificación racional en el aprovechamiento por la entidad estatal
                respectiva, de la experiencia, conocimientos, destreza, capacidad, sensibilidad e identidad adquiridas
                en el desempeño de la labor, así como del desarrollo de la virtud innata para impartir justicia como
                producto del ejercicio de la función, de los mejores jueces con que cuenta el Poder Judicial, con el
                propósito que la prestación del servicio público de justicia a la ciudadanía, se encuentre en manos de
                los más calificados y experimentados jueces de cada Estado.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Cliente</h2>
            <p>Un cliente es aquella persona que a cambio de un pago recibe servicios de alguien que se los presta por
                ese concepto. De acuerdo a la historia, es aquél que está bajo la responsabilidad de otro, el cual
                ofrecía servicios de protección, transporte y resguardo en todo momento, las indicaciones se debían
                cumplir bajo los requerimientos específicos del cliente. Un comprador desea que sus exigencias sean
                atendidas diligentemente. Hay varios tipos de clientes, todos de acuerdo al tipo de compra o servicio
                que solicitan.</p>
            <p>Es una persona natural o jurídica que adquiere un producto o servicio a cambio de una gratificación
                monetaria o algún tipo de intercambio. El cliente en contabilidad tiene el mismo significado anterior.
                Por otra parte, se le denomina clientela al grupo o cartera de clientes de una empresa (negocio, local
                comercial).</p>
        </div>
        <div class="col-md-6">
            <figure>
                <img class="d-flex justify-content-center" style="width: 30vw; padding: 20px;"
                    src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653353748/lawyerstar/juez_skjcqp.jpg"
                    alt="">
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <figure>
                <img class="d-flex justify-content-center" style="width: 30vw; padding: 20px;"
                    src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653353748/lawyerstar/juez_skjcqp.jpg"
                    alt="">
            </figure>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Leyes</h2>
            <p>Es un precepto o conjunto de preceptos, dictados por la autoridad, mediante el cual se manda o prohíbe
                algo acordado por los órganos legislativos competentes, dentro del procedimiento legislativo prescrito,
                entendiendo que dichos órganos son la expresión de la voluntad popular representada por el Parlamento o
                Poder Legislativo.</p>
            <p>Desde el punto de vista jurídico es una norma jurídica en que el Estado se dirige a sus súbditos para
                fijar entre ellos y el mismo los límites de lo permitido. Sus atributos principales son: 1) la
                bilateralidad, 2) imperatividad y, 3) la coercitividad.</p>
            <p>Es bilateral porque debe considerar que la relación jurídica ha de darse necesariamente, entre dos
                sujetos, uno activo y otro pasivo, o sea, uno investido de una facultad a la que corresponde una
                obligación de otro. La imperatividad, llamada autarquía de la norma jurídica, refiere a que ésta se
                sobrepone a la voluntad de los sujetos cuya conducta encauza, independientemente que la voluntad de
                éstos pudiera ser contraria a la ley. Finalmente, es coercitiva, porque la norma se impone por una
                voluntad superior, el Estado, y significa la capacidad de la norma para hacerse obedecer, contra y sobre
                las actitudes en contrario de los sujetos cuya conducta someten, para garantizar su cumplimiento. Esto
                quiere decir que si sus mandatos no son cumplidos espontáneamente por los obligados, es legítimo usar la
                fuerza para que sean observados puntualmente. De esta forma, la capacidad coercitiva de la norma genera
                su inviolabilidad.</p>
            <p>En cuanto a su colocación jerárquica la norma jurídica se compone de tres órdenes fundamentales:
                constitucional, legal y reglamentario. Estas últimas subordinadas a las segundas y las segundas a las
                primeras. En los regímenes federales, como el nuestro, las normas constitucionales son supremas por
                encima de las normas nacionales y éstas, a su vez, son preponderantes sobre las locales.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Abogado</h2>
            <p>El abogado está preparado para defender en las jurisdicciones sociales, administrativas, penales, civiles
                y mercantiles, aunque puede especializarse en una sola y ser experto en dicha jurisdicción. Además,
                también puede asesorar en diferentes ámbitos a su cliente sin llegar a una defensa técnica en juicio, a
                la vez que participar en acuerdos extrajudiciales que quiere alcanzar su cliente.</p>
            <h3>Características de un abogado</h3>
            <p>Analizamos ahora las principales características:</p>
            <p>
            <ul>
                <li>Disponer de un abogado es un derecho de todas las personas, ya que todas tienen derecho a ser
                    defendidas en juicio a través de asistencia letrada.</li>
                <li>Disponer de un abogado es una garantía de un juicio justo y sin arbitrariedades, ya que siempre
                    mirará por los intereses de su cliente.</li>
                <li>El abogado tiene un deber de confidencialidad con su cliente.</li>
            </ul>
            </p>
        </div>
        <div class="col-md-6">

            <figure class="d-flex justify-content-center">
                <img style="width: 30vw; padding: 20px;"
                    src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653353748/lawyerstar/juez_skjcqp.jpg"
                    alt="">
            </figure>
        </div>
    </div>
    <div>
        <h2 class="well text-center">Casos</h2>
        <h1 class="animate__animated animate__bounce">An animated element</h1>
        <div class="row">
            <div class="col-md-6">
                <figure class="d-flex justify-content-center">
                    <img style="width: 30vw; padding: 20px;"
                        src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653353748/lawyerstar/juez_skjcqp.jpg"
                        alt="">
                </figure>
                <div class="d-flex justify-content-end" style="padding-right: 50px;">
                    <button class="btn btn-danger">Citar</button>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Familia</h2>
                <p>La familia es el elmento natural y fundamental de la sociedda, que como constitucionalmente se
                    establece,
                    requiere de proteccional igual que sus integrantes; esto en atencion y provecho de los individuos
                    que la
                    conforman, cumpliendo asi con la funcion social que le corresponde.
                </p>
                <p>Es decir que el interes familiar debe entenderse como el medio de la proteccion de los intereses y
                    derechos de los miembros del nucleo familiar, sobre la base de que se cumpla con los fines
                    fammiliares,
                    que son: la asistencia mutua, la solidaridad, la convivencia, la subsistencia, la reproduccion, en
                    su
                    caso, la filiación, los fines morales y de socializacion, l relacion afectiva,la educacion la unidad
                    economica y la foprmacion de un patrimonio, como los fundamentales.
                </p>
                <h2>Concepto de Familia</h2>
                <p>Desde el punto de vista social, la familia suele definirse como la institucion formada por personas
                    unidas por vinculos de sangre y los relacionados con ellos en virtud de intereses economicos,
                    religiosos
                    o de ayuda. Si consideramos las tendencias actuales, ampliariamos el concepyo, ya ue dichas uniones
                    no
                    solo se dan por vinculois de sangre, sino tambien de simple solidaridad, cuando cumplen con
                    elementos de
                    valides y existencia, como el que sea o se considere un aunion estable, publica y voluntaria, y que
                    cumpla con la obligacion de proteger a sus integrantes identificandolos en la comunidad donde se
                    desarrollan e interactuan como un nucleo solidario, para tales efectos.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Civil</h2>
                <p>El Código Civil de la República del Ecuador es el cuerpo normativo que regula las relaciones
                    jurídicas
                    civiles en Ecuador y está compuesto por 2 424 artículos, organizados en un título preliminar y
                    cuatro
                    libros que rigen: (1) las personas, (2) los bienes y su dominio, (3) la sucesión por causa de muerte
                    y
                    las donaciones entre vivos, y (4) las obligaciones en general y los contratos.</p>
                <p>La primera codificación del Código Civil del Ecuador fue expedida el 4 de diciembre de 1860 por el
                    Senado
                    y la Cámara de Representantes del Ecuador, reunidos en Congreso, y entró en vigencia el 1 de enero
                    de
                    1861. Desde entonces, dicho cuerpo normativo ha contado con diversas reformas que han sido
                    codificadas
                    dando origen a ocho ediciones distintas: primera edición de 1860, segunda edición de 1871, tercera
                    edición de 1889, cuarta edición de 1930, quinta edición de 1950, sexta edición de 1956 (publicada en
                    1960 en la "Recopilación de la Constitución y Leyes del Ecuador), séptima edición de 1970 y octava
                    edición de 2005, actualmente vigente.</p>
                <p>La octava edición del año 2005, a su vez, ha experimentado varias de las más importantes reformas en
                    la
                    legislación civil ecuatoriana, como lo son: la eliminación del matrimonio entre menores de edad y
                    las
                    uniones tempranas, conforme lo exigen los estándares internacionales de derechos humanos, y la
                    consagración del matrimonio igualitario mediante la declaración de la inconstitucionalidad del
                    artículo
                    81 del Código Civil y su sustitución por el siguiente texto: "Art. 81.- Matrimonio es un contrato
                    solemne por el cual dos personas se unen con el fin de vivir juntos y auxiliarse mutuamente", en
                    remplazo de su texto anterior "Art. 81.- Matrimonio es un contrato solemne por el cual un hombre y
                    una
                    mujer se unen con el fin de vivir juntos, procrear y auxiliarse mutuamente".</p>
            </div>
            <div class="col-md-6">
                <figure class="d-flex justify-content-center">
                    <img style="width: 30vw; padding: 20px;"
                        src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653353748/lawyerstar/juez_skjcqp.jpg"
                        alt="">
                </figure>
                <div class="d-flex justify-content-end" style="padding-right: 50px;">
                    <button class="btn btn-danger">Citar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <figure class="d-flex justify-content-center">
                    <img style="width: 30vw; padding: 20px;"
                        src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653353748/lawyerstar/juez_skjcqp.jpg"
                        alt="">
                </figure>
                <div class="d-flex justify-content-end" style="padding-right: 50px;">
                    <button class="btn btn-danger">Citar</button>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Laboral</h2>
                <p>La Comisión de Legislación y Codificación del H. Congreso Nacional de conformidad con la Constitución
                    Política de la República, ha considerado menester realizar la presente Codificación del Código del
                    Trabajo con la finalidad de mantener actualizada la legislación laboral, observando las
                    disposiciones de
                    la Constitución Política de la República; convenios con la Organización Internacional del Trabajo,
                    OIT,
                    ratificados por el Ecuador; leyes reformatorias a éste Código; observaciones formuladas por el H.
                    doctor
                    Marco Proaño Maya, Diputado de la República; Código de la Niñez y Adolescencia; Ley Orgánica de
                    Servicio
                    Civil y Carrera Administrativa y de Unificación y Homologación de las Remuneraciones del Sector
                    Público;
                    y, resoluciones del Tribunal Constitucional.</p>
                <p>Con estos antecedentes la Comisión de Legislación y Codificación codificó las disposiciones de éste
                    Código, de las cuales resaltamos la no inclusión de los artículos 115 y 116 derogados tácitamente
                    por lo
                    dispuesto en el Art. 94 de la Ley para la Transformación Económica del Ecuador, que en su inciso
                    sexto,
                    establece que a partir de la vigencia de esta Ley, la bonificación complementaria y la compensación
                    por
                    el incremento del costo de vida, pasan a denominarse "Componentes Salariales en proceso de
                    incorporación
                    a las remuneraciones", y suprime todas las referencias que aludan a "bonificación complementaria" y
                    "compensación por el incremento del costo de vida"; no se incluyen los artículos 205 y 206
                    subtitulados
                    "Derecho al fondo de reserva por servicios anteriores a 1938", y "Reglas para la aplicación del
                    artículo
                    anterior", respectivamente; no se incluye el artículo 212 subtitulado "Préstamos hipotecarios
                    anteriores
                    al 8 de julio de 1955" armonizando con lo dispuesto en la Ley de Seguridad ; no se incluye el inciso
                    final del artículo 408 de conformidad a la Resolución de la Corte Suprema de Justicia del 25 de mayo
                    de
                    1989, publicada en el Registro Oficial No. 213 del 16 de junio de 1989; igualmente no se incluye el
                    número 4 del artículo 550 referente al Departamento de Salario Mínimo, en atención a que es el
                    Consejo
                    Nacional de Salarios el que establece el sueldo o salario básico unificado para los trabajadores en
                    general, además de que el Departamento de Salarios que anteriormente funcionaba adscrito a la
                    Dirección
                    General al momento se ha transformado en la Unidad Técnica Salarial, adscrita al Ministerio de
                    Trabajo y
                    Empleo; y no se incluyen los artículos</p>
                <p>De igual manera, en esta codificación se han codificado y sistematizado los textos de los siguientes
                    artículos que constan con la nueva numeración: Texto del artículo 35 de conformidad a lo establecido
                    en
                    el Convenio con la OIT No. 138, y al Código de la Niñez y Adolescencia que derogó el Código de
                    Menores;
                    el artículo 87 en concordancia al Convenio No. 95 con la OIT, ratificado por el Ecuador que admite
                    el
                    pago con cheque o acreditación en cuenta; en el artículo 97 no se incluyen tres incisos introducidos
                    por
                    la Ley 2000-1, publicada en el Registro Oficial Suplemento No. 144 del 18 de agosto del 2000, que
                    fueron
                    declarados inconstitucionales por resolución del Tribunal Constitucional No. 193, publicada en el
                    Primer
                    Registro Oficial Suplemento No. 234 del 29 de diciembre del 2000; el artículo 472 se armoniza de
                    conformidad con el artículo 4 del Convenio 87 con la OIT: Sobre la Libertad Sindical y la Protección
                    del
                    Derecho de Sindicación 1948; y, el artículo 493 se armoniza conforme lo establecido en el Decreto
                    338,
                    publicado en el Registro Oficial No. 77 del 30 de noviembre de 1998, que crea la Dirección Regional
                    de
                    Ambato.</p>
                <p>Acogiendo las observaciones formuladas por el H. doctor Marco Proaño Maya, se ha ordenado
                    sistemáticamente las siguientes disposiciones que constan con la nueva numeración: El texto del
                    artículo
                    2; el segundo inciso del artículo 3; se agrega un inciso al artículo 48; el artículo 79; inciso
                    final
                    del artículo 97; el artículo 99; en los artículos 104 y 107 se sustituyen las referencias del
                    "Ministerio de Economía y Finanzas" por "Servicio de Rentas Internas"; los textos de los artículos
                    136 y
                    150; se agregan dos incisos al artículo 157; en el artículo 158 se armoniza el número 1 y se suprime
                    el
                    número 4; redacción del número 4 del artículo 161; y, se agrega un inciso al artículo 262.</p>
                <p>Adicionalmente, no se incluyen disposiciones de la Ley para la Promoción de la Inversión y
                    Participación
                    Ciudadana, que fueron declaradas inconstitucionales por el Tribunal Constitucional conforme
                    Resolución
                    No. 193-2000 TP, publicada en el Registro Oficial Suplemento No. 234 del 29 de diciembre del 2000.
                </p>
                <p>Finalmente, se han incluido las disposiciones que regulan el procedimiento oral en la solución de
                    controversias individuales de trabajo, que en esta codificación constan en los artículos 575 al 588
                    inclusive, así como las Disposiciones Transitorias correspondientes.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Actos Notariales</h2>
                <p>Es el procedimiento por el cual se brinda el servicio de inscripción de un acto o contrato suscrito
                    por
                    una o varias personas naturales o jurídicas, dentro del Cantón Quito, que busca servir como medio de
                    tradición de bienes inmuebles y de constitución de otros derechos reales, en aplicación de la
                    competencia establecida por Ley.</p>
                <p>Este procedimiento implica el análisis, calificación jurídica y verificación de requisitos e
                    información
                    de cada uno de los actos o contratos determinados en el Art. 25 de la Ley de Registro, que ingresan
                    para
                    inscripción en aplicación de lo dispuesto en el Artículo 1, literal a) de la misma Ley.</p>
                <p>Los principales actos o contratos son: Compraventa, donación, permuta, servidumbres, daciones en
                    pago,
                    cesiones de derechos, aclaratorias, sentencias de prescripción extraordinaria de dominio,
                    testamentos,
                    posesiones efectivas, entre otros.</p>
            </div>
            <div class="col-md-6">
                <figure class="d-flex justify-content-center">
                    <img style="width: 30vw; padding: 20px;"
                        src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1653353748/lawyerstar/juez_skjcqp.jpg"
                        alt="">
                </figure>
                <div class="d-flex justify-content-end" style="padding-right: 50px;">
                    <button class="btn btn-danger">Citar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}