{% extends 'base.html' %}
{% block title %}
{{ super() }}
Index
{% endblock%}
{% block content %}
<div class="container">
    <div>
        <h2 class="well text-center">Casos</h2>
        <div class="row">
            <div class="col-md-6">
                <figure class="d-flex justify-content-center">
                    <img style="width: 30vw; padding: 20px;"
                        src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1662915754/lawyerstar/familia_fx8oi8.jpg"
                        alt="">
                </figure>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Familia</h2>
                <p>
                    Es decir que el interes familiar debe entenderse como el medio de la proteccion de los intereses y
                    derechos de los miembros del nucleo familiar, sobre la base de que se cumpla con los fines
                    fammiliares, que son: la asistencia mutua, la solidaridad, la convivencia, la subsistencia, la
                    reproduccion, en su caso, la filiación, los fines morales y de socializacion, l relacion afectiva,la
                    educacion la unidad economica y la foprmacion de un patrimonio, como los fundamentales.
                </p>
                <h2>Concepto de Familia</h2>
                <p>
                    Si consideramos las tendencias actuales, ampliaríamos el concepto, ya que dichas uniones no solo se
                    dan por vínculos de sangre, sino también de simple solidaridad, cuando cumplen con elementos de
                    valides y existencia, como el que sea o se considere una unión estable, publica y voluntaria, y que
                    cumpla con la obligación de proteger a sus integrantes identificándolos en la comunidad donde se
                    desarrollan e interactúan como un núcleo solidario, para tales efectos.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <figure class="d-flex justify-content-center">
                    <img style="width: 30vw; padding: 20px;"
                        src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1662915754/lawyerstar/civil_i7nslu.jpg"
                        alt="">
                </figure>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Civil</h2>
                <p>La octava edición del año 2005, a su vez, ha experimentado varias de las más importantes reformas en
                    la legislación civil ecuatoriana, como lo son: la eliminación del matrimonio entre menores de edad y
                    las uniones tempranas, conforme lo exigen los estándares internacionales de derechos humanos, y la
                    consagración del matrimonio igualitario mediante la declaración de la inconstitucionalidad del
                    artículo 81 del Código Civil y su sustitución por el siguiente texto: "Art.</p>
                <p>Desde entonces, dicho cuerpo normativo ha contado con diversas reformas que han sido codificadas
                    dando origen a ocho ediciones distintas: primera edición de 1860, segunda edición de 1871, tercera
                    edición de 1889, cuarta edición de 1930, quinta edición de 1950, sexta edición de 1956 (publicada en
                    1960 en la "Recopilación de la Constitución y Leyes del Ecuador), séptima edición de 1970 y octava
                    edición de 2005, actualmente vigente.</p>
                <p>El Código Civil de la República del Ecuador es el cuerpo normativo que regula las relaciones
                    jurídicas civiles en Ecuador y está compuesto por 2 424 artículos, organizados en un título
                    preliminar y cuatro libros que rigen: (1) las personas, (2) los bienes y su dominio, (3) la sucesión
                    por causa de muerte y las donaciones entre vivos, y (4) las obligaciones en general y los contratos.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <figure class="d-flex justify-content-center">
                    <img style="width: 30vw; padding: 20px;"
                        src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1662915754/lawyerstar/laboral_wgo3nr.jpg"
                        alt="">
                </figure>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Laboral</h2>
                <p>
                    Art. 94 de la Ley para la Transformación Económica del Ecuador, que en su inciso sexto, establece
                    que a
                    partir de la vigencia de esta Ley, la bonificación complementaria y la compensación por el
                    incremento del costo de vida, pasan a denominarse "Componentes Salariales en proceso de
                    incorporación a las remuneraciones", y suprime todas las referencias que aludan a "bonificación
                    complementaria" y "compensación por el incremento del costo de vida"; no se incluyen los artículos
                    205 y 206 subtitulados "Derecho al fondo de reserva por servicios anteriores a 1938", y "Reglas para
                    la aplicación del artículo anterior", respectivamente; no se incluye el artículo 212 subtitulado
                    "Préstamos hipotecarios anteriores al 8 de julio de 1955" armonizando con lo dispuesto en la Ley de
                    Seguridad ; no se incluye el inciso final del artículo 408 de conformidad a la Resolución de la
                    Corte Suprema de Justicia del 25 de mayo de 1989, publicada en el Registro Oficial No.
                </p>
                <p>
                    213 del 16 de junio de 1989; igualmente no se incluye el número 4 del artículo 550 referente al
                    Departamento de Salario Mínimo, en atención a que es el Consejo Nacional de Salarios el que
                    establece el sueldo o salario básico unificado para los trabajadores en general, además de que el
                    Departamento de Salarios que anteriormente funcionaba adscrito a la Dirección General al momento se
                    ha transformado en la Unidad Técnica Salarial, adscrita al Ministerio de Trabajo y Empleo; y no se
                    incluyen los artículos De igual manera, en esta codificación se han codificado y sistematizado los
                    textos de los siguientes artículos que constan con la nueva numeración: Texto del artículo 35 de
                    conformidad a lo establecido en el Convenio con la OIT No.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <figure class="d-flex justify-content-center">
                    <img style="width: 30vw; padding: 20px;"
                        src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1662915754/lawyerstar/actosnotariales_elhjc6.jpg"
                        alt="">
                </figure>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Actos Notariales</h2>
                <p>
                    Es el procedimiento por el cual se brinda el servicio de inscripción de un acto o contrato suscrito
                    por una o varias personas naturales o jurídicas, dentro del Cantón Quito, que busca servir como
                    medio de tradición de bienes inmuebles y de constitución de otros derechos reales, en aplicación de
                    la competencia establecida por Ley.
                </p>
                <p>
                    Los principales actos o contratos son: Compraventa, donación, permuta, servidumbres, daciones en
                    pago, cesiones de derechos, aclaratorias, sentencias de prescripción extraordinaria de dominio,
                    testamentos, posesiones efectivas, entre otros.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}