<div class="father">
    <div class="menubar">
        <a class="btmenu" style="cursor: pointer;"><span>♥</span> Menu</a>
    </div>
    <nav>
        <ul>
            {% if current_user.is_authenticated %}
            {% if current_user.id == 'starfaby' %}
            {% if current_user.isadmin == True %}
            {% if current_user.email == 'star._faby@hotmail.com' %}
            <li class="submenu">
                <a href="#"><span class="icon-rocket"></span>admin <span class="caret"></span></a>
                <ul class="children">
                    <li><a href="#">sub 1 <span class="icon"></span></a></li>
                    <li><a href="#">sub 2 <span class="icon"></span></a></li>
                    <li><a href="#">sub 3 <span class="icon"></span></a></li>
                </ul>
            </li>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            <li><a href="/start"><span class="icon">Inicio</span></a></li>
            <li><a href="/caso"><span class="icon">Casos</span></a></li>
            <li><a href="/cita"><span class="icon">Citas</span></a></li>
            <li><a href="/avances"><span class="icon">avances </span></a></li>
            <li><a href="/qsomos"><span class="icon">Quienes Somos</span></a></li>
            <li class="pull-right">
                {% if current_user.is_authenticated %}
                <span>Bienvenido: {{current_user.id}}</span>
                <img src="{{current_user.avatar}}" alt="" style="width: 3vw; height: 3vw;">
                <button class="btn btn-success"><a href="/logout">Logout</a></button>
                {% else %}
                <button class="btn btn-danger"><a class="nav-link" href="loginin">Login In</a></button>
                {% endif %}
            </li>
        </ul>

    </nav>
</div>